[Unit]
Description=inalltwelvekeys Node.js App
After=network.target

[Service]
ExecStart=/usr/bin/npm --prefix /root/inalltwelvekeys start
StandardOutput=journal
StandardError=journal
WorkingDirectory=/root/inalltwelvekeys
Restart=on-failure

[Install]
WantedBy=multi-user.target
